<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Catalog\Block\Product\Image */ ?>
<?php $productLabels = $block->getProductLabels(); ?>
<?php /** @var $labelHelper Avanti\ProductCustomLabels\Helper\Data */ ?>
<?php $labelHelper = $this->helper("Avanti\ProductCustomLabels\Helper\Data"); ?>

<span class="product-image-container" style="width:<?= /* @escapeNotVerified */ $block->getWidth() ?>px;">
    <span class="product-image-wrapper" style="padding-bottom: <?= /* @escapeNotVerified */ ($block->getRatio() * 100) ?>%;">
        <?php if ($productLabels) : ?>
            <?php foreach ($productLabels as $key => $labels): ?>
                <div class="<?php echo $key ?>">
                    <?php foreach ($labels as $label) :?>
                        <?php if (array_key_exists('discount',$label)): ?>
                                <div class="label-discount">
                                    <span><?php echo $label['discount'] . ' OFF'; ?></span>
                                </div>
                        <?php else: ?>
                            <img src="<?php echo $labelHelper->getLabelUrl($label['image']); ?>" alt="Label Image" title="Label Image"/>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
        <img class="product-image-photo"
             <?= /* @escapeNotVerified */ $block->getCustomAttributes() ?>
             src="<?= /* @escapeNotVerified */ $block->getImageUrl() ?>"
             max-width="<?= /* @escapeNotVerified */ $block->getWidth() ?>"
             max-height="<?= /* @escapeNotVerified */ $block->getHeight() ?>"
             alt="<?= /* @escapeNotVerified */ $block->stripTags($block->getLabel(), null, true) ?>"/>
    </span>
