<?php
/**
 * Product image able to also display product labels / pictos
 *
 * @var $block Avanti\ProductCustomLabels\Block\ProductCustomLabels
 */

$productLabels = $block->getLabels();
?>
<?php if ($productLabels) : ?>
    <?php foreach ($productLabels as $key => $labels): ?>
        <div class="<?php echo $key ?>">
            <?php foreach ($labels as $label) :?>
                <?php if (array_key_exists('discount',$label)): ?>
                    <div class="label-discount">
                        <span><?php echo $label['discount'] . ' OFF'; ?></span>
                    </div>
                <?php else: ?>
                    <img src="<?php echo $block->getLabelUrl($label['image']); ?>" alt="Label Image" title="Label Image"/>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
    <?php endforeach; ?>
<?php endif; ?>