.product-image-wrapper {
    .top_left {
        position: absolute;
        top: 0;
        z-index: 2;
        left: 0;
        max-width: 25%;
        .label-discount {
            background-color: black;
            padding-left: 14px;
            padding-right: 14px;
            margin-bottom: 12px;
            color: white;
            font-size: 15px;
        }
    }
    .top_right {
        position: absolute;
        top: 0;
        z-index: 2;
        right: 0;
        max-width: 25%;
        .label-discount {
            background-color: black;
            padding-left: 14px;
            padding-right: 14px;
            margin-bottom: 12px;
            color: white;
            font-size: 15px;
        }
    }
    .lower_left {
        position: absolute;
        bottom: 0;
        z-index: 2;
        left: 0;
        max-width: 25%;
        .label-discount {
            background-color: black;
            padding-left: 14px;
            padding-right: 14px;
            margin-bottom: 12px;
            color: white;
            font-size: 15px;
        }
    }
    .lower_right {
        position: absolute;
        bottom: 0;
        z-index: 2;
        right: 0;
        max-width: 25%;
        .label-discount {
            background-color: black;
            padding-left: 14px;
            padding-right: 14px;
            margin-bottom: 12px;
            color: white;
            font-size: 15px;
        }
    }
}
.product {
    &.media {
        position: relative;
        .top_left {
            position: absolute;
            top: 0;
            z-index: 2;
            left: 100px;
            max-width: 10%;
            .label-discount {
                background-color: black;
                padding-left: 14px;
                padding-right: 14px;
                margin-bottom: 12px;
                color: white;
                font-size: 15px;
            }
        }
        .top_right {
            position: absolute;
            top: 0;
            z-index: 2;
            right: 0;
            max-width: 10%;
            .label-discount {
                background-color: black;
                padding-left: 14px;
                padding-right: 14px;
                margin-bottom: 12px;
                color: white;
                font-size: 15px;
            }
        }
        .lower_left {
            position: absolute;
            bottom: 110px;
            z-index: 2;
            left: 100px;
            max-width: 10%;
            .label-discount {
                background-color: black;
                padding-left: 14px;
                padding-right: 14px;
                color: white;
                font-size: 15px;
            }
        }
        .lower_right {
            position: absolute;
            bottom: 110px;
            z-index: 2;
            right: 0;
            max-width: 10%;
            .label-discount {
                background-color: black;
                padding-left: 14px;
                padding-right: 14px;
                color: white;
                font-size: 15px;
            }
        }
    }
}
